<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nazareth Library</title>
    <link rel="stylesheet" href="./main.css" />
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1 class="title">Nazareth Library</h1>
      {{> navbar}}
    </header>

    <section class="content">
      {{{content}}}
    </section>

    <script src="./script.js" type="application/javascript"></script>
  </body>

</html>
