<nav class="navbar">

  {{#if isAuthenticated}}

  <!-- <img id="navbar-github-avatar" src="{{avatar_url}}"/> -->
  <span id="navbar-welcome-message">Hello, {{username}}!<span>

  {{else}}

  <span>Please <a class="navlink" href="./login">login!</a></span>

  {{/if}}

  <a class="navlink" href="./add">Add Book</a>
  <a class="current navlink" href="./">Book List</a>

</nav>
